@page
@model Client_InventoryManagement.Pages.Category.UpdateCategoryModel
@{
}
<head>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/css/animate.css">

    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="~/assets/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Category Management</h4>
            <h6>Update Category</h6>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(TempData["Message"] as string))
    {
        <div class="alert @((TempData["Message"] as string)?.Contains("successfully") == true ? "alert-success" : "alert-danger")">
            @TempData["Message"]
        </div>
    }
    <div class="card">
        <div class="card-body">
            <form method="post">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Category Id</label>
                            <input name="Id" type="text" asp-for="@Model.categoryDTO.Id" readonly>
                        </div>
                        <div class="form-group">
                            <label>Category Name</label>
                            <input name="CategoryName" type="text" asp-for="@Model.categoryDTO.CategoryName">
                        </div>
                        <div class="form-group">
                            <label>Category  Description</label>
                            <input name="Description" type="text" asp-for="@Model.categoryDTO.Description">
                        </div>
                       
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-submit me-2">Submit</button>
                        <a href="/Category/CategoryList" class="btn btn-cancel">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<script src="~/assets/js/jquery-3.6.0.min.js"></script>

<script src="~/assets/js/feather.min.js"></script>

<script src="~/assets/js/jquery.slimscroll.min.js"></script>

<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/dataTables.bootstrap4.min.js"></script>

<script src="~/assets/js/bootstrap.bundle.min.js"></script>

<script src="~/assets/plugins/select2/js/select2.min.js"></script>

<script src="~/assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="~/assets/plugins/sweetalert/sweetalerts.min.js"></script>

<script src="~/assets/js/script.js"></script>